

.css-1xez8po-MuiPaper-root-MuiCard-root.carditemContainer{

background-color: #f2f3f393;



}




.css-o69gx8-MuiCardMedia-root.productCardImg {


object-fit: contain;


}

.css-46bh2p-MuiCardContent-root.productText {


text-align: center;


}

.productTextP{



font-size: 1.5rem !important;
margin-bottom: 1rem  !important;
}

.priceText{

color: red ;
   margin-top: 2rem;
    font-size: 2rem ;
    }