
.selectedDiv {

width: 30rem;




}


.selectContainer {


background-color: rgb(5, 4, 4);
padding: 0.3rem 1rem;
color: white;
font-size: 1rem;
width: 10rem;

}

.selectContainer2 {


margin-left: 7rem;

}


option {

color: white;
font-size: 1rem;
;
}


